<div class="side-nav">
    <div class="side-nav-top">
        <div class="side-nav-title">
            <h2>Wordle</h2>
            <span class="unlimited-text">Unlimited</span>
        </div>
        <div class="side-nav-links">
            <ul>
                <li>
                    <mat-icon svgIcon="tableCells"></mat-icon>
                    <a href="https://github.com/wendy2274/juego_palabra" target="_blank">Mi repositorio de Github</a>
                </li>
                <li>
                    <mat-icon>code</mat-icon>
                    <a href="" target="_blank">Repositorio de mi compañero</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy; {{ year }} Wendy Sinisterra / Yonathan Obregon</p>
</div>